<li class="nav-item active">
  <a class="nav-link" [routerLink]="['/']">Home</a>
</li>
<li class="nav-item">
  <a class="nav-link" [routerLink]="['/fanpages']">Fanpages list</a>
</li>
<!-- <li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">Something else here</a>
  </div>
</li> -->
<li class="nav-item">
  <a class="nav-link" [routerLink]="['/fanpages/user']">Your fanpages</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="javascript:void(0)" (click)='previousPage()'>Back</a>
</li>