<nav class="navbar navbar-expand navbar-light bg-light">
  <a class="navbar-brand" href="#">{{siteTitle}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <app-nav></app-nav>
    </ul>
    <div class="my-2 my-lg-0">
      <app-auth></app-auth>
    </div>
  </div>
</nav>