<div class="row">
  <div class="col-md-12" style="padding-bottom: 20px;" *ngIf="isExists;else noFanpageWithThisId">
    <div class="card w-100">
      <img src="{{fanpage.picture}}" class="rounded mx-auto d-block" alt="alt">
      <div class="card-body">
        <h5 class="card-title">
          {{fanpage.name}}
        </h5>
        <p class="card-text">{{fanpage.description}}</p>
        <p class="card-text text-left" *ngIf="fanpage.forsale">{{fanpage.price}}</p>
        <a href="{{link}}/fanpages/{{fanpage.fanpageID}}" class="btn btn-submit">
          Zobacz więcej ->
        </a>
      </div>
    </div>
  </div>
  <ng-template #noFanpageWithThisId>
    <div class="col-12 text-center">
      <h1>
        Brak Fanpage o podanym id
      </h1>
    </div>
  </ng-template>
</div>