<div class="row">
  <div class="col-md-12" style="padding-bottom: 20px;" *ngIf="isExists;else noFanpageWithThisId">
    <div class="card w-100">
      <img src="{{fanpage.picture}}" class="rounded mx-auto d-block" alt="alt">
      <div class="card-body">
        <h5 class="card-title">
          {{fanpage.name}}
        </h5>
        <p class="card-text">{{fanpage.description}}</p>
        <p class="card-text text-left" *ngIf="fanpage.forSale">{{fanpage.price}}</p>
      </div>
    </div>
  </div>
  <ng-template #noFanpageWithThisId>
    <div class="col-12 text-center">
      <h1>
        Brak Fanpage o podanym id
      </h1>
      <form action="http://localhost:3000/api/fanpages" method="post">
          <input type="hidden" name="id" value="1046422925390283">
          <input type="number" name="price" id="">
          <input type="text" name="description" id="">
          <input type="submit" value="Add">
      </form>
    </div>
  </ng-template>
</div>