<div class="panel" *ngFor="let fanpage of fanpagesList">
  <div class="panel-info">
    {{fanpage.name}}
    <button class="btn btn-submit" [routerLink]="[fanpage.id]">
      Show more >>>
    </button>
  </div>
</div>
<router-outlet></router-outlet>
