<div *ngIf="isLoggedIn; else elseBlock">
  Witaj
  <a href="http://localhost:3000/auth/logout" target="_blank">Log out</a>
</div>
<ng-template #elseBlock>
  <div>
    <a href="http://localhost:3000/auth/facebook" target="_blank">Log in via facebook</a>
  </div>
</ng-template>
    
    