<div class="row">
  <div class="col-md-4 col-sm-6" style="padding-bottom: 20px;" *ngFor="let fanpage of fanpagesList">

    <div class="card w-100">
      <img src="{{fanpage.picture}}" class="rounded mx-auto d-block" alt="alt">
      <div class="card-body">
        <h5 class="card-title">
          {{fanpage.name}}
        </h5>
        <p class="card-text">{{fanpage.description}}</p>
        <p class="card-text text-left" *ngIf="fanpage.forsale">{{fanpage.price}}</p>
        <a [routerLink]="['/fanpages', fanpage.fanpageID]" class="btn btn-submit">
          Zobacz więcej ->
        </a>
      </div>
    </div>
  </div>
</div>
